<div id="flipbook-container">
	<div id="flipbook">
		<div class="page cover"></div>
		<div class="page no1"></div>
		<div class="page no2"></div>
		<div class="page no3"></div>
		<div class="page no4"></div>
		<div class="page no5"></div>
		<div class="page no6"></div>
		<div class="page back"></div>
	</div>
</div>
<script type="text/javascript">
$("#flipbook").turn({
		width: 1108,
		height: 722,
		autoCenter: false,
  		gradients:false
	});
$(".page").not(":first").each(function(i) {
  $(this).attr("title", i+1);
})
</script>




<script type="text/javascript">
var enlarged = false;

$('#container').click(function () {
    $(this).stop(true, false).animate({
        width: enlarged ? 200 : 1108,
        height: enlarged ? 200 : 722,
        left: 90,
        top: 90
    }, 200);

    enlarged = !enlarged;
});
</script>