<!-- <img class="detective-img" src="/assets/title(1).jpg" />

<script>
 $(function() {
    $('.detective-img').imageloader();
  });
</script> -->

<audio id="noir-song" src="noir-song.mp3" loop="loop"></audio>

<%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>
<a id="sound-off" href="#" ><img src="/assets/sound-off.png" alt="sound-off" /></a>
<a id="sound-on" href="#" ><img src="/assets/sound-on.png" alt="sound-on" /></a>

<nav>
  <ul>
    <li><a id="start" href="#">Start</a></li>
    <li><a id="credits" href="#">Credits</a></li>
  </ul>
</nav>
<img id ="credits-bg" src="assets/credits(2).jpg" alt="Credits photo" height="365" width="500">

<div id="back-div" >
	<a id="back-to-menu" href="#">Back to Main Menu</a>
</div>

<!-- below is the credit text -->
<div id="credits-container">
    <div id="credits-list">
        <h3>Kevin Kuoch</h3>
        <h3>Darius Jones</h3>
        <h3>John Doe</h3>
        <h3>Noir Music by Mr. NoName</h3>
        <h3>Smoke Particle Emitter by Cucu Ionel</h3>
        <h3>Created with HTML5 Canvas, jQuery and Turn.js</h3>
    </div>
</div>
<div id="bottom-bar"><div>




