<html>
<head>
	<title>Title Screen</title>
	<%= stylesheet_link_tag    'title', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'title', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--   load in the jquery -->
 		 <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"> 
		</script>
</head>

<body>

<header>

</header>

<main>


</head>
<body>


<img src="/assets/title(1).jpg" />

<button id="hide">Hide</button>
<button id="show">Show</button>
</main>

<footer>

</footer>
</body>
</html>