<!-- <img class="detective-img" src="/assets/title(1).jpg" />

<script>
 $(function() {
    $('.detective-img').imageloader();
  });
</script> -->

<audio id="noir-song" src="noir-song.mp3" loop="loop"></audio>

<%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>


	<nav>
	  <ul>
	    <li><a id="start" href="#">Start</a></li>
	    <li><a id="credits" href="#">Credits</a></li>
	  </ul>
	</nav>
	<img id ="creds" src="assets/credits(2).jpg" alt="Credits photo" height="365" width="500">
<!-- below is the credit text -->
	<p id ="names"> Hello World <br> Test Test <br> ABC ABC <br> kaljdfl</p>
	


