<!-- <img class="detective-img" src="/assets/title(1).jpg" />

<script>
 $(function() {
    $('.detective-img').imageloader();
  });
</script> -->
  <%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<!-- <audio id="noir-song" src="noir-song.mp3" loop="loop"></audio> -->


<div class="menu">

<nav>
  <ul>
  <li>Start</li>
  <li>Credits</li>
  </ul>
</nav>

</div>