<!-- <img class="detective-img" src="/assets/title(1).jpg" />

<script>
 $(function() {
    $('.detective-img').imageloader();
  });
</script> -->

<!-- <audio id="noir-song" src="noir-song.mp3" loop="loop"></audio> -->

<%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>

<nav>
  <ul>
    <li><a id="start" href="#">Start</a></li>
    <li><a id="credits" href="#" onclick="alert('credits');">Credits</a></li>
  </ul>
</nav>

</div>

