/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background:#000;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

canvas{
/*the code below this activates the canvas border, turn it on to visibly see how big the canvas is */

/*	border: 1px solid red;*/  
  width: 100%;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    display: none;
    z-index: 0;
}


nav{
  position: absolute;
  top: 50%;
  left: 60%;
  z-index: 1;
  color: white;
  font-family: "Betty Noir Regular";
  font-size: 2vw;
  display: none;
}

nav ul{
    list-style-type: none;
}

nav li{
  position: relative;
  padding-bottom: 20px;
}

nav li a:visited{
  color:white;
}

nav li a:link{
  text-decoration: none;
  color: white;
}

@font-face{
  font-family: 'Riesling';
  src: url('/assets/riesling.ttf');
}

@font-face{
  font-family: 'Betty Noir Regular';
  src: url('/assets/bettynoir.ttf');
}

@font-face{
  font-family: 'Journal';
  src: url('/assets/journal.ttf');
}

#sound-on img{
  width: 30px;
  position: absolute;
  top: 11%;
  right: 0;
  padding: 5px;
  z-index: 9999;
}

#sound-on{
  display: none;
}

#sound-off img{
  width: 30px;
  position: absolute;
  top: 11%;
  right: 0;
  padding: 5px;
  z-index: 9999;
}

#music-icon img{
  width: 25px;
  position: absolute;
  top: 11.3%;
  right: 40px;
  padding: 5px;
  z-index: 9999;
}

#credits-container{
  overflow: hidden;
}

#credits-list{
  display: block;
  width: 250px;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 20%;
}

#credits-list h3{
  font-family: "Betty Noir Regular";
  font-size: 2vw;
  color: white;
  padding-top: 5px;
}

#credits-bg{
/*the code below this activates the canvas border, turn it on to visibly see how big the canvas is */

  /*border: 1px solid blue;*/
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: none;
  width: 63%;
  height: 81%;
}

/* needed for credits animation */
#bottom-bar{
  position: absolute;
  bottom: 0;
  height: 9.5%;
  width: 100%;
  background-color: black;
  display: none;
}

#back-div{
  position: absolute;
  bottom: 13%;
  right: 20%;
  font-family: "Betty Noir Regular";
  font-size: 2vw;
  color: white;
  display: none;
}

#back-div a{
  text-decoration: none;
}

#back-div a:visited{
  color: white;
}

/*below is the alleyway code for the first scene*/
#alleyway-bg{
/*the code below this activates the canvas border, turn it on to visibly see how big the canvas is */

  /*border: 1px solid blue;*/
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: none;
  width: 63%;
  height: 81%;
}
#office-bg{
/*the code below this activates the canvas border, turn it on to visibly see how big the canvas is */

  /*border: 1px solid blue;*/
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: none;
  width: 63%;
  height: 81%;
}
#phone-bg{
/*the code below this activates the canvas border, turn it on to visibly see how big the canvas is */

  /*border: 1px solid blue;*/
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: none;
  width: 63%;
  height: 81%;
}
#gamestart-bg{
/*the code below this activates the canvas border, turn it on to visibly see how big the canvas is */

  /*border: 1px solid blue;*/
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
  display: none;
  width: 63%;
  height: 81%;
}
#typing-container{
  display: none;
  position: absolute;
  top: 84%;
  left: 18%;
  z-index: 1;
  font-size: 2vw;
}

#typing p{
  color: white; 
  font-family: "Limelight";
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

#typing-container2{
  display: none;
  position: absolute;
  top: 84%;
  left: 18%;
  z-index: 1;
  font-size: 2vw;
}

#typing2 p{
  color: white; 
  font-family: "Limelight";
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}

#typing-container3{
  display: none;
  position: absolute;
  top: 84%;
  left: 18%;
  z-index: 1;
  font-size: 2vw;
}


#typing3 p{
  color: white; 
  font-family: "Limelight";
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}
#typing-container4{
  display: none;
  position: absolute;
  top: 84%;
  left: 18%;
  z-index: 1;
  font-size: 2vw;
}


#typing4 p{
  color: black; 
  font-family: "Limelight";
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
}
@keyframes type{ 
  from { width: 0; } 
} 


#quote-container{
  display: none;
  position: absolute;
  top: 35%;
  left: 20%;
  z-index: 1;
  font-size: 2vw;
  width: 65%;
}


#quote p{
  color: white; 
  font-family: "Riesling";
  font-weight: bold;
  font-size: 3vw;
  margin: 10px 0 0 10px;
  overflow: hidden;
  text-align: center;
}

#narration-container{
  position: absolute;
  top: 12%;
  left: 19%;
  z-index: 1;
  width: 55%;
}

#narration1{
  display:none;
}

#narration1 p{
  color: white; 
  font-family: "Journal";
  font-weight: bold;
  font-size: 3.2vw;
  margin: 10px 0 0 9px;
}

#narration2{
  display:none;
}

#narration2 p{
  color: white; 
  font-family: "Journal";
  font-weight: bold;
  font-size: 3.2vw;
  margin: 10px 0 0 9px;
}

#narration3{
  display:none;
}

#narration3 p{
  color: white; 
  font-family: "Journal";
  font-weight: bold;
  font-size: 3.05vw;
  margin: 10px 0 0 9px;
}

#office-narration-container{
  position: absolute;
  top: 12%;
  left: 19%;
  z-index: 1;
  width: 55%;
}

#office-narration1{
  display:none;
}

#office-narration1 p{
  color: white; 
  font-family: "Journal";
  font-weight: bold;
  font-size: 3.2vw;
  margin: 10px 0 0 9px;
}

#office-narration2{
  display:none;
}

#office-narration2 p{
  color: white; 
  font-family: "Journal";
  font-weight: bold;
  font-size: 3.2vw;
  margin: 10px 0 0 9px;
}

#office-narration3{
  display:none;
}

#office-narration3 p{
  color: white; 
  font-family: "Journal";
  font-weight: bold;
  font-size: 3.05vw;
  margin: 10px 0 0 9px;
}

#office-narration4{
  display:none;
}

#office-narration4 p{
  color: white; 
  font-family: "Journal";
  font-weight: bold;
  font-size: 3.05vw;
  margin: 10px 0 0 9px;
}

#office-narration5{
  display:none;
}

#office-narration5 p{
  color: white; 
  font-family: "Journal";
  font-weight: bold;
  font-size: 3.05vw;
  margin: 10px 0 0 9px;
}













#film-border-top{
  background-image: url(/assets/film-strip.png);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 99;
}


#film-border-bottom{
  background-image: url(/assets/film-strip.png);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 99;
}















/* unneccessary now? */
/*img {
  display: none;
  color:white;
  border:1px solid blue;
}*/

/*position for the credits location*/
/*p#names{
  src: url('/assets/bettynoir.ttf');
  font-family: "Betty Noir Regular";
  position: absolute;
  font-size: 2vw;
  color: white;
  bottom: 60%;
  right: 70%;
}*/


