/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background:#000;
  width: 100%;
  height: 100%;
  overflow:hidden;
}

canvas{
/*the code below this activates the canvas border, turn it on to visibly see how big the canvas is */

	border: 1px solid red;  
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    display: none;
    width: 100%;
}



nav{
  position: absolute;
  top: 50%;
  left: 60%;
  color: white;
  font-family: "Betty Noir Regular";
  font-size: 2vw;
  display: none;
}

nav ul{
    list-style-type: none;
}

nav li{
  position: relative;
  padding-bottom: 20px;
}

nav li a:visited{
  color:white;
}

nav li a:link{
  text-decoration: none;
}

@font-face{
  font-family: 'Betty Noir Regular';
  src: url('/assets/bettynoir.ttf');
}

img {
  display: none;
  color:white;
  border:1px solid blue;
}