/*body{
  background-color: black;
}

img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30%;
}

.toggle { display: none; }*/


/*body{
  background:#000;
  width: 100%;
  height: 100%;
  overflow:hidden;
}*/

/*.detective-img{
  display: none;
}*/

