<!DOCTYPE html>
<html>
<head>
  <title>Detective</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!--   load in the jquery -->
 		 <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"> 
		</script>
</head>
<body>

<%= yield %>

</body>
</html>
